.user-info {
    display: flex;
    flex-direction: row;
    gap: 12px;

    &__avatar {
        border-radius: 50%;
        width: 42px;
    }

    &__name {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
    }

    &__position {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #757575;
        text-transform: capitalize;
    }
}
